/*
Coral - #FB9C31
Navajo White - #FBD293
Crimson - #D92D12
Gainsboro - #EBEBE3
Dark Turquoise - #07ADAB
*/

.content {
    height: inherit;
    padding: 15px 35px;
    font-size: 12px;
}

.content-title {
    color: #07ADAB;
}

.content-text {
    overflow-wrap: break-word;
}