/*
Coral - #FB9C31
Navajo White - #FBD293
Crimson - #D92D12
Gainsboro - #EBEBE3
Dark Turquoise - #07ADAB
*/

.content {
    height: inherit;
    padding: 15px 35px;
    font-size: 12px;
}

.content-title {
    color: #07ADAB;
    margin-bottom: 10px;
}

.content-text {
    overflow-wrap: break-word;
}

.content-image {
    background: url('../images/infobar/info_qpaalo_c_scale\,w_1147.jpg');
    background-position: center;
    background-size: cover;
    width: inherit;
    height: 200px;
}