/*
Coral - #FB9C31
Navajo White - #FBD293
Crimson - #D92D12
Gainsboro - #EBEBE3
Dark Turquoise - #07ADAB
*/

.content {
    padding: 10px;
    color: #ffffff;
    overflow: auto;
    font-size: 15px;
    line-height: 1.5;
}

hr {
    border: 3px solid #ffffff;
    margin-bottom: 25px;
}

.content-title {
    color: #ffffff;
    margin-bottom: 10px;
}

.content-text {
    padding: 15px;
    overflow-wrap: break-word;
}