/*
Coral - #FB9C31
Navajo White - #FBD293
Crimson - #D92D12
Gainsboro - #EBEBE3
Dark Turquoise - #07ADAB
*/

.content {
    height: inherit;
    padding: 10px;
    font-size: 15px;
}

.content-title {
    color: #ffffff;
    margin-bottom: 10px;
}

.content-text {
    overflow-wrap: break-word;
}