@import 'bg.css';
@import 'nav.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 10px;
    height: 95vh;
}

.footer {
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 4px;
}