@import 'bg.css';
@import 'nav.css';
@import 'content.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 97vh;
}

.grid-container {
    display: grid;
    height: inherit;
}

.main-content {
    align-self: center;
    justify-self: stretch;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 auto;
    max-width: 700px;
    min-height: 50vh;
    box-shadow: 3px 3px 25px #000000, -3px -3px 25px #000000;
}

#project,
#technologies,
#contact {
    display: none;
}

.footer {
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    margin: 0;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 4px;
}