@import 'bg.css';
@import 'nav.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 97vh;
}

.grid-container {
    display: grid;
    grid-gap: 80px;
    padding: 10px;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgba(255, 255, 255, 0.2);
    width: 700px;
    height: 750px;
    box-shadow: 3px 3px 25px #000000;
}

.footer {
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    margin: 0;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 4px;
}