@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 768px) {
    .main-content {
        margin: 0 42px !important;
    }
    .content {
        font-size: 11px;
        line-height: 1;
    }
    .main-content {
        overflow: scroll;
        max-height: 90vh;
    }
    .menu {
        background-color: rgba(61, 61, 61, 0.8);
    }
}