#header {
    margin-left: -10px;
    min-height: 97vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffff;
    opacity: 1;
    height: 500px;
    width: 250px;
    border-radius: 0px 0px 110px 0px;
    box-shadow: 3px 3px 25px #000000;
    transition: 1s ease-out;
}

.menu.menu-hidden {
    background-color: rgba(255, 255, 255, 0.2);
    height: 500px;
    width: 25px;
    border-radius: 0px 0px 110px 0px;
    box-shadow: 3px 3px 25px #000000;
    transition: 1s ease-in;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo img {
    width: 124px;
    height: 130px;
}

.menu-primary {
    padding: 10px;
    margin: 0;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s ease-out;
}

.menu-primary-hidden {
    transition: 0.5s ease-in;
    opacity: 0;
    visibility: hidden;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    text-align: center;
    cursor: pointer;
}

.menu-item {
    color: #ffff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s ease-out;
}

.menu-button {
    padding: 0;
    height: 100px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #ffff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 6px 0 20px #000000;
    cursor: pointer;
    outline: 0;
}

.menu-button i {
    transform: rotate();
    transition: 0.5s ease-in-out;
}

.menu-button-toggle i {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}