/*
Coral - #FB9C31
Navajo White - #FBD293
Crimson - #D92D12
Gainsboro - #EBEBE3
Dark Turquoise - #07ADAB
*/

#header {
    margin-left: -10px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    background-color: #EBEBE3;
    opacity: 1;
    height: 500px;
    width: 250px;
    border-radius: 0px 0px 110px 0px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, .2);
    transition: 1s ease-out;
}

.menu.menu-hidden {
    background-color: #EBEBE3;
    opacity: 0.8;
    height: 500px;
    width: 25px;
    border-radius: 0px 0px 110px 0px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, .2);
    transition: 1s ease-in;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: brightness(0);
}

.logo img {
    width: 124px;
    height: 130px;
}

.menu-primary {
    padding: 10px;
    margin: 0;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s ease-out;
}

.menu-primary-hidden {
    transition: 0.5s ease-in;
    opacity: 0;
    visibility: hidden;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    margin: 10px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #FBD293;
    transition: 0.5s;
}

.menu-button {
    padding: 0;
    height: 100px;
    width: 15px;
    background-color: #EBEBE3;
    color: #000000;
    opacity: 1;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    outline: 0;
}

.menu-button i {
    transform: rotate();
    transition: 0.5s ease-in-out;
}

.menu-button-toggle i {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}