#header {
    margin-left: -10px;
    min-height: 97vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffff;
    opacity: 1;
    height: 500px;
    width: 250px;
    border-radius: 0px 0px 110px 0px;
    box-shadow: 3px 3px 25px #000000;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo img {
    width: 124px;
    height: 130px;
}

.menu-primary {
    padding: 10px;
    margin: 0;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-primary a {
    text-decoration: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

.menu-item {
    color: #ffff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.5s ease-out;
}

.menu-button {
    justify-content: center;
    padding: 0;
    height: 75px;
}